<div class="item-description container">
  <h1>Product Details</h1>
  <ng-container *ngIf="loading">
    <app-loading-spinner>
      Loading the product... Please wait.
    </app-loading-spinner>
  </ng-container>
  <ng-container *ngIf="isError">
    <app-network-error-component></app-network-error-component>
  </ng-container>
  <ng-container *ngIf="!loading">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-md-5">
            <img [src]="item.image" class="item-description__img"/>
          </div>
          <div class="col-md-7">
            <p><strong>Label</strong>: {{item.label}}</p>
            <p><strong>Category</strong>: {{item.category}}</p>
            <p><strong>Price per item</strong>: {{currencySymbol}}{{item.cost}}</p>
            <p><strong>Items Available</strong>: {{getItemsAvailable()}}</p>
            <p [innerHtml]="item.description"></p>
            <button (click)="handleAddToCardClick()" [disabled]="!getItemsAvailable()" mat-raised-button color="primary" class="item-description__add-card">Add To Cart</button>
            <button (click)="handleShowCart()" mat-raised-button color="primary">Show Cart</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
